body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.TopBar {
    background: grey;
    padding: 1em;
    margin: 1em;
    border: 1px solid red;
    border-radius: 3px;
    
		
}

.Post {
    background: lightgrey;
    width: 640px;
    padding: .5em;
    margin: .5em;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px grey;
}

.PostLink {
    margin: .5em;
}

.PostInfo {
    font-size: 50%;
    margin: .5em;
}

.Thumbnail {
    float: left;
}
